@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'highlight.js/styles/atom-one-dark.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .bg-bhagwa {
    background-image: linear-gradient(to right, #ff7e5f, #ff6a00);
  }
}
@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}
 
@media (prefers-color-scheme: dark) {
  @theme {
    --background: #0a0a0a; /* Dark background for dark mode */
    --foreground: #ededed; /* Light text for dark mode */

    --card: #171717;
    --card-foreground: #ededed;

    --border: #262626;
    --muted-foreground: #a3a3a3;
  }
}
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

